.button {
	-fx-font-family: Impact;
	-fx-font-size: 52px;
	-fx-font-color: #FFFFFF;
	-fx-background-color: #4F4F4F;
	-fx-opacity: 0.8;	
}
.title {
 	-fx-font-family: Impact;
 	-fx-font-size: 78px;
 	-fx-font-color: white;
 	-fx-text-alignment: center;
}